.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.map {
  position: relative;
}

.block {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &.active {
    border: 2px solid blue;

    .tile {
      line-height: 28px;
    }
  }

  .tile {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  &.solid {
    box-shadow: 0 0 5px 2px red inset;
  }
}

.object {
  font-size: 0px;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px black;
  border: 1px solid #0f0;
  background-color: rgba(0,255,0,0.2);
  line-height: 0;

  &:hover {
    font-size: 12px;
  }

  &.active {
    border-color: blue;
    background-color: rgba(0,0,255,0.2);
  }
}

.block_0 {
  background-color: black;
  color: white;
}

.block_1 {
  background-color: grey;
}

.block_2 {
  background-color: #55f;
  color: white;
}

.hints {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;

  b {
    display: inline-block;
    font-weight: bold;
    min-width: 50px;
  }
}

.objectSettings {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  background-color: #eee;

  b {
    display: inline-block;
    font-weight: bold;
    min-width: 50px;
  }
}

textarea.invalid {
  background-color: #f99;
}
